.App-logo {
  height: 5vh;
  width: 5vh;
  pointer-events: none;
  color: #cccccc;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: left;
  color: grey;
}

.App-header p {
  margin-top: 12px;
}

body .dropdown-menu {
  min-width: 19rem;
}

.pad-item-bottom {
  padding-bottom: 15px;
}