.App-header {
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: left;
  color: grey;
  padding-left: 25px;
}

@media screen and (min-width: 769px) {
  .max-450-px {
    max-width: 450px !important;
  }

  .max-without-450-px {
    max-width: calc(100vw - 450px);
  }
}

.App-header p {
  margin-top: 12px;
}

body .dropdown-menu {
  min-width: 22rem;
}

.app-body > .columns {
  min-height: 75vh;
}

.pad-item-bottom {
  padding-bottom: 15px;
}

.dropout-controls {
  border: white solid 3px;
  border-radius: 5px;
}

.dropout-controls.isProcessing {
  -webkit-animation: blink 5s infinite linear;
  animation: blink 6s infinite linear;
}

.dropout-stats {
  border-radius: 5px;
}

@keyframes blink {
  0%   { border-color: #a6c9ff; }
  50%  { border-color: #3e8bff;}
  100% { border-color: #a6c9ff; }
}